<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}  
    <script src="{% static 'opencv.js' %}"type="text/javascript"></script>
    <script src="{% static 'qrcode.min.js' %}"type="text/javascript"></script>
    <script src="{% static 'blob.js' %}"type="text/javascript"></script>
    <script src="{% static 'fileSaver.js' %}"type="text/javascript"></script>
    <script src="{% static 'html2canvas.min.js' %}" type="text/javascript" > </script>
    <title>Mask Recycle</title>
    
</head>

<body>
    <div class="container" style="height: 100%; min-height: 100%; ">
        <div class="row h-100 align-items-center" style="margin-top: 20%;">
            <div class="col-4" style="height: 100%;  padding-left: 5%; padding-right: 5%;">
                <button type="button" id="startbtn" class="btn btn-success btn-block"
                    style="height: 200px; font-size: 50px; margin-bottom: 50%; ">START</button>
                <button type="button" data-toggle="modal" data-target="#myModal" id="stopbtn" class="btn btn-danger btn-block" data-bs-toggle="modal"
                    data-bs-target="#modalForQRcode" style="height:200px; font-size: 50px;">STOP</button>
                <!-- 按钮触发模态框 -->
                <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button> -->
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header" style="text-align: center;">Congradulations, you collected 3 more points!</div>
                            <div class="modal-body" style="display: block; margin-left: auto; margin-right: auto;">
                                <div id="qrcode" style="width: auto;"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
            <div class="col-8" style="height: 100%; ">

                <div id="showImage" style="height: 500px; background-color: rgba(167, 167, 167, 1);">
                    <video src="" id="videoInput" style="height: 500px; width: 730px;" ></video>
                    <canvas id="canvasOutput"></canvas>
                </div>
                <div class="captureButtonWrapper"> 
                    <button type="button" id="captureButton" class="btn btn-info btn-block">CAPTURE</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>

   

    <script>
        var streamGlobal
        var detection_num = 0
        var mask_num = 0;
        $(document).ready(function () {
            $("#startbtn").click(function () {
                startVideo();
            });

            // stop video playing 
            // TODO: clear video window and set home page image back
            $("#stopbtn").click(() => {
                $('#qrcode').empty()
                $('#qrcode').qrcode({render: 'div',width: 200,height: 200,text: mask_num});
                stopVideo();
            })

            // capture image from webcam
            // send GET ajax to backend -> receive confidence 
            $("#captureButton").click(()=>{
                imageCapture();
                setTimeout(()=>{
                    $.ajax({
                        url: "http://127.0.0.1:8000/mask-detect",
                        method: 'GET',
                        dataType: 'json',
                        data: {detection_num}
                    }).then((result)=>{
                        if( parseInt(result[0]) > 0){
                            mask_num++;
                            // TODO: set success image and keep processing by bluetooth
                        }
                    })
                }, 4000)
            })
        
            function imageCapture(){
                const screenshotTarget = document.getElementById("videoInput");
                return html2canvas(screenshotTarget).then(async (canvas) => {
                        // Export canvas as a blob 
                        canvas.toBlob(function(blob) {
                            // Generate file download
                            ++detection_num;
                            window.saveAs(blob, "detection_"+detection_num+".png");
                        });
                        return canvas
                    });
            }
            function startVideo(){
                let video = document.getElementById("videoInput"); // video is the id of video tag
                navigator.mediaDevices
                .getUserMedia({ video: true, audio: false })
                .then(function(stream) {
                    streamGlobal = stream;
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(err) {
                    console.log("An error occurred! " + err);
                });
            }
            function stopVideo(){
                streamGlobal.getTracks().forEach(function(track) {
                    track.stop();
                });
            }
            
        });
    </script>
</body>

</html>